[2022-10-05 02:27] omarcostahamido opened #2 "Cleanup/prepare repo and improve README"
Get repo ready/easier for MSWE team to start working.

**TODO**
- [x] add @KaneBetter @rustberry @SSSSam141 and @xrk-git as repository collaborators.
- [x] remove `Todo` section on the [README.md](../)
- [x] add table with repo contents overview
- [x] add instructions for running the control patch on the `Running` section
- [x] create first issue to add start position offset parameter
- [x] create

[2022-10-05 03:29] omarcostahamido opened #3 "Improving `set_position` command"
Currently one can set the position of each display in seconds. This is great even because it allows for floating point number precision of milliseconds even. However, there are some situation where this offset would be better described in terms of frames. Additionally, being able to set relative position, as in from 0.0 (start) to 1.0 (end) might also be helpful when the user simply doesn't know t

[2022-10-05 03:31] omarcostahamido opened #4 "Investigate Tearing issue"
under some circumstances video tearing appears on the screens.
@gggfffsss can provide some insight into how/when this happens.
This issue needs to be further investigated... and fixed.

[2022-10-05 03:34] omarcostahamido opened #5 "Going out of sync!"
under some circumstance devices, that have been triggered to start at the same time, go out of sync.
@gggfffsss was this still happening with the latest version?
This issue needs to be further investigated... and, it is still happening, it needs to be fixed.

Adding some more context:
- @gggfffsss confirmed that often times, but not consistently, frames are skipped during the first few seconds of

[2022-10-05 03:37] omarcostahamido opened #6 "Better requirements, better readme"
Current [README.md](../) has a very simplistic `Requirements` section.
This deserves to be expanded to include also which [pi device image](https://www.raspberrypi.com/software/) to use, and how to get it working.
I no longer remember what we used to access the raspberry pi devices remotely. Think we tried teamviewer with little success and then switched to something else. I just heard about [rust

[2022-10-05 04:03] #2 closed, assigned to omarcostahamido

[2022-10-05 23:43] omarcostahamido opened #7 "Confirm DigiFilm access"
MSWE team: please confirm below that you have access to DigiFilm facilities and the rpi4 devices.
note1: first meeting and introduction to the space is happening on 2022-10-6 at 2:30pm.
note2: @gggfffsss has sent everyone KEY CHECKOUT POLICIES & LOAN AGREEMENT on 2022-10-5.

- [x] @rustberry
- [x] @KaneBetter
- [x] @SSSSam141
- [x] @xrk-git

[2022-10-06 18:54] rustberry opened #8 "Update shell scripts so it's not dependent on specific directory structure"
- [x] Update shell scripts
- [x] Update README instructions

[2022-10-06 18:58] rustberry opened #9 "Setting up SSH access to studio (if possible)"
When in the later stage we need to test synchronization on multiple rpis, this would make it possible to test functionality on them remotely, rather than each one bringing one device home.

[2022-10-06 19:09] omarcostahamido commented on #8
@rustberry Yes, good call!
Do you want to self assign it?

[2022-10-06 19:15] omarcostahamido commented on #9
This refers to #6 .
Figuring out how to remotely access the rpis will be a priority thing because, as you will very soon realize the custom screens we are using for the installation don't display the entire desktop of the rpi OS. You can always connect it to another full monitor just to work on it, if they are available there. So yes please, we do need to have this remote access resolved. Let's ke

[2022-10-08 07:58] rustberry commented on #8
Yep no problem.

[2022-10-08 08:00] rustberry opened #10 "Add requirements.txt from `pip freeze` for easier installation"
Low priority for now.

**TODO**
- [x] Add requirements.txt
- [x] update README.md

[2022-10-08 20:11] #7 closed, assigned to rustberry, KaneBetter, SSSSam141, xrk-git

[2022-10-08 20:18] SSSSam141 opened #11 "Investigate buffer deadlock prevented issues."
When playing jellyfish video, it will pause by the issue of buffer deadlock prevented for serveral times.

- [x] Figure out what happens when buffer deadlock prevented protection occurs.
- [x] #12
- [ ] Decrease the occurrence of buffer deadlock prevented.

[2022-10-08 21:25] omarcostahamido commented on #7
Thank you @SSSSam141 for closing it.

[2022-10-08 22:05] omarcostahamido commented on #11
Thank you @SSSSam141 for opening this issue. And so it begins... :)
Fyi, the website where you download that jellyfish sample video includes different compression renders that you may also try in your experiments.
Good luck, and please keep us posted.

[2022-10-08 22:09] omarcostahamido commented on #10
Yes, I like that, even though it is pretty short list of dependencies.
Can you include in the todo list also updating the readme? Note: even if the instructions are only to now include the installation command with the txt, can you please still reference the python dependencies? Maybe this means updating the first section.

[2022-10-08 22:10] omarcostahamido commented on #8
@rustberry thank you. Looking forward.

[2022-10-11 17:04] xrk-git opened #12 "Failed to open Xsplitter:mmal_vout module"
When start playing the video, there is a message shows 'mmal_xsplitter vout display error: Failed to open Xsplitter:mmal_vout module'. Based on my test, the error message only appears when I start a video.

Potential solution: https://github.com/RPi-Distro/vlc/issues/30

[2022-10-11 19:09] omarcostahamido commented on #12
Hi @xrk-git . Thank you for opening this issue. A little more context would be great. When does it happen/what are the steps to reproduce? (and also, what is it related to?)

[2022-10-11 19:10] omarcostahamido commented on #9
So, @rustberry , what have you found out?

[2022-10-11 19:16] omarcostahamido commented on #11
@SSSSam141 please feel free to share here some the things you've been trying.

[2022-10-11 19:20] xrk-git commented on #12
@omarcostahamido Thanks for your suggestions. I will revise that later :)

[2022-10-11 19:22] omarcostahamido commented on #10
@rustberry I've just updated your OP with a short TODO list.
This one is pretty straight forward. Since you already have 2 other issues assigned, maybe @KaneBetter would like to take this issue as a _warmup_ until he finds an issue he would like to focus on?

[2022-10-11 23:20] rustberry commented on #6
About the requirements section, I have tested on my own Linux machine, and installing the software of VLC is required to use `python-vlc` package properly.

To be 100% sure about all requirements, we need to use something like an SD card to format the SD cards in the rpis and burn a brand-new image from scratch. After that, we set up the project and see if there's anything missing. Do we have a mi

[2022-10-11 23:21] rustberry opened #13 "Burn a brand-new rpi image on a micro SD card"
Burn a brand-new rpi image on the micro SD card and set up the project from scratch, to make sure we've covered all the needed dependencies.
This requires a micro SD card reader or micro SD card adaptor since I have an SD card port on my laptop.

[2022-10-11 23:23] rustberry commented on #9
It seems that RealVNC provides cloud connection for educational or non-commercial use. With this we would be able to set up VNC to the iMac in studio easily. And from that iMac we could ssh into the rest of the rpis in the studio's wifi.

On this Thursday I think I would be able to test this.

[2022-10-11 23:27] rustberry commented on #9
@KaneBetter also discovered some free tools to do intranet penetration (https://www.cpolar.com/). If the RealVNC doesn't work we could fall back to this solution.

[2022-10-11 23:36] omarcostahamido commented on #6
Well yeah, the raspberry pi image we were using already came with vlc installed. But I agree it is good practice to list it as a dependency, since that is exactly what it is. Just make sure that the readme doesn't end up instructing users to flash a raspberry pi image that already comes with vlc, and then also instructs users on installing vlc.

@gggfffsss can you chime in on this part?

[2022-10-11 23:43] omarcostahamido commented on #13
@rustberry I just simplified the issue name, and move the longer version into the issue OP - thx for creating it.

if anything else, it might be a good to add new and updated versions of the OS so that we might benefit from relevant updates that might have come out in the meantime.

[2022-10-12 00:14] omarcostahamido commented on #10
this was fixed by #14

[2022-10-12 00:14] #10 closed, assigned to KaneBetter

[2022-10-12 00:20] omarcostahamido commented on #9
Yes, also just [found it](https://github.com/omarcostahamido/PVM/blame/main/README.md#L99) again on the #Helpful Links section.

[2022-10-12 00:30] rustberry opened #15 "Update project `merge` settings"
Hi @omarcostahamido and @gggfffsss, this would be something that only the owner of the repository could do.

The first is to [restrict merging options](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/configuring-commit-squashing-for-pull-requests). Specifically, it would be ideal to only allow "squash merging". My classmate

[2022-10-12 00:39] omarcostahamido commented on #15
Done and Done.
Thx @rustberry

[2022-10-12 00:39] #15 closed, assigned to omarcostahamido, gggfffsss

[2022-10-12 01:06] rustberry commented on #6
Thanks for clarifying, I wouldn't go that nerdy. 😄 Also did you remember which image you have used? I suppose they would come with different set of pre-installed software, but I cannot find any official documentation on it.

![image](https://user-images.githubusercontent.com/34592958/195224678-5331f566-8c72-48bc-9e93-55e9a4263934.png)
Screenshot from https://www.raspberrypi.com/software/operating-

[2022-10-12 20:01] KaneBetter commented on #11
Just find out that if you run `sudo apt install vlc` in the terminal.
After that, the error message disappeared.
However, this still needs to be proven by others.

[2022-10-12 20:58] SSSSam141 commented on #11
I have tried to run vlc to play the video: jellyfish without using Max. The problem was still there so we can make sure that the cause lies in the part of VLC. I have checked that our Raspeberry pi model is 4 (cmd: `cat /proc/device-tree/model` ), its system is  bullseye 11 (cmd: `cat /etc/os-release`), and the vlc version is 3.0.16 (cmd: `vlc -v`).
Also, we can use debug mode for the vlc, change

[2022-10-12 21:03] SSSSam141 commented on #12
@omarcostahamido In fact, only me and Ruokun has encounterd this problem, while Kaiqin and Zejin did not happen on their machines. The way
to reproduce problem is to use Max to play the jellyfish video.

- go to the directory of PVM
- `source PVM/bin/activate`
- `python pym.py`
- Go to max to open the pvm.maxpat
- click the reset button and then click the start button.

Then you can check the erro

[2022-10-12 22:08] SSSSam141 commented on #12
I will try to find a way to configure the decoder for vlc or substitude the original decoder with another feasible one, but I am not sure it would work or not.

[2022-10-13 00:30] omarcostahamido commented on #11
After that, the error message disappeared.

huh... that's strange.

Nice.

Thx for testing this. Please remind me: is bullseye 11 the latest raspberrypiOS?

Perfect! Prioritizing :) Feel free to change the label on #12 to `High`. Also, add it here as a step on the TODO list.

[2022-10-13 00:43] SSSSam141 commented on #11
@omarcostahamido Bullseye 11 is the latest version for raspberryPiOS.

[2022-10-13 01:19] omarcostahamido commented on #12
@SSSSam141 just to be clear:
i) you are all using a mac computer with Max as the controlling machine, and different raspberry pi devices loaned by @gggfffsss as the playing device? I'm trying to understand if `their machines` is referring to the raspberry pi device or the controlling machine.
ii) the error only appears after you click either the `start` message, or the toggle next to it, on the `p

[2022-10-13 03:04] SSSSam141 commented on #12
@omarcostahamido
i) `their machines` is referring to the raspberry pi device. We are using our own laptop to be the control machine currently.
ii) The error occurs when I click start and then wait until the video pauses itself. The video will firstly play normally for a few seconds. When the error occurs, it continues to play until the buffer deadlock prevented issues, it pauses.

I think this iss

[2022-10-13 09:09] SSSSam141 commented on #12
@omarcostahamido
Thanks to Kaiqin @KaneBetter for providing the link to the discussion: `https://raspberrypi.stackexchange.com/questions/133541/vlc-not-hardware-accelerated-on-raspberry-pi-400`
It is said that the MMAL module, which is needed by VLC, is now deprecated on Raspi 4. I want to try to use another version of RaspberryPiOS version (buster 10) to do that. But I need to reinstall the OS on

[2022-10-13 11:07] omarcostahamido commented on #12
Thx. The answer is yes. @gggfffsss will give you access to it.

[2022-10-14 02:48] SSSSam141 commented on #12
@omarcostahamido
I have reinstalled the os on Raspeberry with the version of buster 10 and the mmal_vout module can be turned on normally and there is no tearing problem while the buffer deadlock still exists. This issued proves that the bullseye 11 does not support the mmal_vout and I think we can close this now. I will turn to the main decoder error: buffer deadlock prevented issue #11.

[2022-10-14 02:48] #12 closed, assigned to SSSSam141, xrk-git

[2022-10-14 02:50] SSSSam141 commented on #11
After I have reinstalled the os with the old version buster 10, the problem still exists. I will try to find the cause now.

[2022-10-14 14:42] omarcostahamido commented on #12
perfect. thank you @SSSSam141

[2022-10-14 14:44] omarcostahamido commented on #4
according to report from @SSSSam141 on #12 , the tearing issue was solved when downgrading the OS to version 10.
Closing this issue now.

[2022-10-14 14:44] #4 closed, assigned to nobody

[2022-10-14 14:49] omarcostahamido commented on #13
@rustberry can we consider this issued mostly fixed given the work reported in #12 ?
I would still suggest that this issue could be closed with the addition on the README of the complete instructions on how to install and setup the proper OS version. Can you do that and create a PR including the message `this fixes #13`?

[2022-10-14 15:08] omarcostahamido commented on #5
Issue #11 is focusing on the `buffer deadlock` problem which might be what causes the videos to go out of sync.

[2022-10-15 02:49] KaneBetter opened #16 "Looking for an alternative media player"
Since in order to solve the decode  @SSSSam141 found that he needed to roll back the system version of Raspberry, I tried to solve the problem with another idea. At the same time, since this problem will involve the problem of unsynchronized, frame tearing afterward, so I set the level of this issue to high
- [ ] OMXPlayer
- [x] Kodi
- [x] Plex Media Player
- [x] OSMC
- [x] XBian
- [x] LibreELEC
-

[2022-10-15 14:53] omarcostahamido commented on #16
Thanks for starting this issue @KaneBetter .
It seems that this could be a parent issue for multiple issues (and branches) testing all those different options.
If you need a simpler `pvm.maxpat` for quick testing purposes, let me know. Else, as you've realized by now, you can also quickly draft an osc python script to send a single command.

Speaking of which, I don't want to close the door on the

[2022-10-15 14:59] omarcostahamido commented on #9
@rustberry when do you think we can close this issue?

had a quick look at `cpolar`, it looks more like an http tunneling service, not a full blown remote desktop access (?).

[2022-10-15 15:02] omarcostahamido commented on #6
as soon as the **TODO** on the [OP](https://github.com/omarcostahamido/PVM/issues/6#issue-1397159170) is complete (which doesn't seem that it would need that much time) and the respective README updates are in place. We will be able to close this issue and complete **milestone 1**

[2022-10-15 16:58] KaneBetter commented on #16
Thanks for reminding me of this, we use Zenhub to manage our projects, it works as a plugin for Github, easy to create Epic, Sprint and manage the progress of issues, Roadmap etc.
I will send the invite link to you and Grant

[2022-10-15 18:31] rustberry commented on #9
Yes you are right. With tunneling service we would be able to establish SSH connection to it. But since we need to see the video output, it would be better to use VNC or TeamViewer. On Thursday we set up VNC but discovered that it was hard to use when connecting from a different network (it requires everyone to have an account and be added to the same "team").

We then opened Teamviewer on it, but

[2022-10-16 04:40] rustberry commented on #16
Also tried compiling VLC from the source but no luck. (https://thepi.io/how-to-compile-vlc-media-player-with-hardware-acceleration-for-the-raspberry-pi/ https://www.techybugz.com/raspberry-pi/raspberry-pi-vlc/)

Some needed libraries cannot be found on Rabian OS (at least bullseye 11). Trying to compile without them resulted in errors during `make`.

[2022-10-17 17:28] KaneBetter commented on #16
After trying other players and play centers, I found that OMXPlayer runs smoothly in the buster(10) system environment and is a more suitable solution.
But this still has the bug that when you loop the video, you can only set the rate for one of the loops
The following are two solutions.
- [ ] Modify the source code of OXMPlayer Wrapper:https://github.com/willprice/python-omxplayer-wrapper/blob/ma

[2022-10-17 19:11] omarcostahamido commented on #16
@rustberry have you tried compiling VLC on bullseye 10?

@KaneBetter thank you so much for trying all those players!
It doesn't surprise me that omxplayer runs smooth - it is done in `c++` right?

I'm not sure I understood it. Do you mean that if you set a playback rate other than normal speed, when it loops and starts from the beginning it changes the playback speed back to normal? That sounds li

[2022-10-17 19:16] omarcostahamido commented on #9
@rustberry you can also try [rustdesk](https://rustdesk.com/), as I've mentioned on #6 .
I don't think we need to spend a lot of time on this issue finding the perfect solution. Just having something that works will do. I mean, it is not an essential part of the final project in itself. Future users won't need to have a perfect ssh access in order to make the project work. I have this issue as hig

[2022-10-17 19:18] omarcostahamido commented on #13
_bump_

just looking around the high priority issues and trying to figure out when they'll be closed.

[2022-10-18 02:42] KaneBetter commented on #16
Your understanding is correct, the python program controls the OMXPlayer by using the OMXPlayer Wrapper, and I have uploaded a branch at https://github.com/omarcostahamido/PVM/tree/UseOmxplayer.

[2022-10-18 08:28] rustberry commented on #16
Yep, after downgrading to bullseye 10 also tried to compile vlc on 10. Same issue: cannot install all the required packages for compiling 😞. Though the bootstrapping and configuring stages went okay without showing errors, the final compiling stage would fail.
![image](https://user-images.githubusercontent.com/34592958/196378116-69fd4088-51f2-479a-ac0c-d17ae13c6bf2.png)

Compared to 11 bullseye 10

[2022-10-18 08:30] rustberry commented on #13
Yeah, I think this could be closed soon. After we finally decided to use OXMPlayer I will update the related instructions.

[2022-10-18 08:42] rustberry commented on #9
Yes totally understand. Actually, TeamViewer has already solved this problem, I left this open only because I think we need to set the iMac dormant settings to mark this problem as _completely_ solved 😃. While this remains open I have been moving on to do other tasks like compiling vlc source code, reading vlc logs, and testing OXMPlayer, so this issue never hindered me from doing other things.

[2022-10-18 19:08] KaneBetter commented on #16
Find the same issue in OMXPlayer: https://github.com/popcornmix/omxplayer/issues/799

[2022-10-18 19:18] KaneBetter commented on #16
Find the solution for our case in a Pull request. https://github.com/popcornmix/omxplayer/pull/678
However, the developers don't seem to want to merge.

[2022-10-18 23:04] SSSSam141 commented on #13
Done.

[2022-10-19 03:57] KaneBetter commented on #16
We successfully added the option for OMXPlayer to play videos at variable speed, and created the build shell script, see commit: https://github.com/omarcostahamido/PVM/commit/c3c57b931bb6e1b9fc8ffbe6490c0cc1187d302a

[2022-10-19 05:15] KaneBetter commented on #16
Successfully called force-fps in pvm_omx.py to implement variable rate, see commit: https://github.com/omarcostahamido/PVM/commit/d4b12b9025059062df6c540d93dc09d29ffa42b4
So far, all the basic functions have been implemented, continue to modify the code format

[2022-10-19 07:49] SSSSam141 commented on #16
I think we have successfully find an alternative to VLC that is OMXPlayer. While I have found that the current logic in `pvm_omx.py` still has some problem, when I try to press twice reset, it starts to play video. There is no similar instance variable in OMXPlayer. So I think we need to focus on making the logic work for the control pad without bugs. Therefore, this issue could be closed and turn

[2022-10-19 17:24] omarcostahamido commented on #13
@SSSSam141 could you please close this issue with the PR/commit that contains the added instructions?

[2022-10-19 18:19] omarcostahamido commented on #16
trying to build @KaneBetter 's version of omx, on a vbox with raspios buster 10:
<img width="488" alt="Screen Shot 2022-10-19 at 7 17 48 PM" src="https://user-images.githubusercontent.com/18335360/196772582-75b7541f-ff84-486a-8673-84f7c84b736c.png">
any ideas?

[2022-10-19 18:31] SSSSam141 commented on #16
@omarcostahamido I recommend you to input the command line by line since there might be some cases that the script does not cover.

[2022-10-19 18:32] KaneBetter commented on #16
Can you try input `./build_omxplayer.sh`

[2022-10-19 19:03] rustberry commented on #16
@omarcostahamido This worked for me. Also if you try `bash build_omxplayer.sh` it would also work. Think we also need to add something to the script, like `apt purge omxplayer` to remove any possible existing installation.

To test the new binary, run `omxplayer --force-fps 10 jellyfish720p.mp4` which would play the video at the forced rate.

[2022-10-19 19:21] omarcostahamido commented on #16
well yeah
both `./build_omxplayer.sh` and `bash build_omxplayer.sh` (_**ba**sh_, haha) do something.

I'm still not quite getting it to launch though:
<img width="593" alt="Screen Shot 2022-10-19 at 8 19 54 PM" src="https://user-images.githubusercontent.com/18335360/196784170-8296a05c-f761-4442-a5b3-91064fc637a9.png">

[2022-10-19 19:25] omarcostahamido commented on #16
right, so, at the end of the building process it says that some packages are missing

<img width="593" alt="Screen Shot 2022-10-19 at 8 23 14 PM" src="https://user-images.githubusercontent.com/18335360/196785135-07375da6-af3d-4c44-a06b-baf1ff78460e.png">

[2022-10-19 19:40] rustberry commented on #16
How about running these before running the script again:
`sudo apt purge omxplayer && sudo apt-get update --allow-releaseinfo-change`
I didn't run into this, strange 🤔

Also when using the `omxplayer` command, it should be fine to be in whatever directory, since it's already been installed to the system.

ref:
https://www.linuxtutorials.org/This-must-be-accepted-explicitly-before-updates-for-this-

[2022-10-20 11:21] omarcostahamido commented on #16
on my end at least `omxplayer` command is not recognized

following what you said:
<img width="594" alt="Screen Shot 2022-10-20 at 12 12 16 PM" src="https://user-images.githubusercontent.com/18335360/196933936-00871fb5-5e52-49d0-b1f0-4f36329fe7ac.png">
<img width="587" alt="Screen Shot 2022-10-20 at 12 12 36 PM" src="https://user-images.githubusercontent.com/18335360/196933993-ad37af06-0922-4223-b

[2022-10-20 17:31] SSSSam141 commented on #16
@omarcostahamido I have updated the readme file regarding the installation of new Raspberry Pi version on my branch and the I remember that the bulleye 11 system does not support OMXPlayer so you need to roll back to the system version of buster 10 first. Please check. If you have any question, please let me know.

[2022-10-20 18:15] KaneBetter opened #18 "Need help with Continuous Deployment script"
I have pushed a new branch called AddCDscript: https://github.com/omarcostahamido/PVM/tree/AddCDscript
The importance of this script, which allows for automatic deployment and saves us a lot of time.
Because our test environment has many rpis, when we modify our code, we need to deploy to each rpi and then test, manually ssh to each deployment will waste a lot of time.
So I create this issue and b

[2022-10-20 21:20] KaneBetter commented on #16
The reason you are getting this error is that the statement you ran made you delete the OMXPlayer, the correct action is as follows.
`sudo apt purge omxplayer && sudo apt-get update --allow-releaseinfo-change`
`cd to folder`
`./build_omxplayer.sh`
`omxplayer --force-fps jellyfish720p.mp4`

[2022-10-20 22:07] omarcostahamido commented on #13
this was closed by #17

[2022-10-20 22:07] #13 closed, assigned to nobody

[2022-10-20 22:42] rustberry commented on #9
The TeamViewer logins are now in our slack, closing.

[2022-10-20 22:42] #9 closed, assigned to rustberry

[2022-10-20 23:48] omarcostahamido commented on #6
@rustberry i noticed you closed #9 manually without adding anything new to the repository. Could you please add a PR with a small section for the readme instructing users on how to remotely connect to the rpi (\*), and in the PR message include `this fixes #6` , please? That way this issue will be automatically closed with that PR.
(\*) this could be as simple as just listing which software to use

[2022-10-21 13:39] omarcostahamido commented on #16
thx @rustberry for the link [[1](https://www.instructables.com/How-to-Set-Time-and-Date-in-Raspberry-Pi/)] yesterday.
It is very strange but I need to change it several times before it takes effect. And it seems that after correcting the date/time, if I run the `sudo hclock --hctosys` command then it goes back to October 19 at an incorrect time.
Here what I was able to get at:
<img width="602" alt

[2022-10-21 22:10] KaneBetter commented on #16
Since we have found the OMXPlayer, I am going to make PR to merge UseOmxplayer branch into main.
So that other developer can create their own branch based on this.

[2022-10-22 01:52] omarcostahamido commented on #16
@KaneBetter thank you for creating the PR with the proper message that will automatically close this issue.

[2022-10-22 22:37] omarcostahamido opened #20 "video files location"
Following this comment [here](https://github.com/omarcostahamido/PVM/commit/384f329f6767b22971e0ecac7972c80c5da88e3e#r87609305), I'm open to suggestions as to improve
- [ ] the best location for the video files (it may be beneficial not to be inside `/PVM/` so that one can update the software and not have to re-transfer the video files)
- [ ] the best way to transfer the video files into the rpis

[2022-10-22 22:49] omarcostahamido commented on #18
interesting idea.
(I wonder if the script could check the versions and continue re-deployment only if it is outdated - maybe something for later / not a priority).
This works assuming that all the devices that we want to update/re-deploy are listed on `max-init.txt`. (this should be clarified somewhere - perhaps on the readme during the section explaining this new script?). What happens if it does

[2022-10-23 14:52] omarcostahamido commented on #16
I can't actually create a virtual machine to install the same version of the OS that you're using because... rpi is an arm-based hardware. There might be a way to emulate it [[1](https://joshondesign.com/2021/04/15/emu_pi_mac)] but it'll be inefficient. I will try to install a newer version of the raspios just for the sake of it and report back.

[2022-10-23 15:45] omarcostahamido commented on #6
@rustberry so, just to clarify:  you're using teamviewer to access the studio iMac that works as a control machine. Issue #9 was only about studio access and not accessing the rpi devices, and that is why it is closed. But, I ask, are you remotely accessing the rpi devices at all or no? (via teamviewer, or ssh, or...).

[2022-10-23 23:10] rustberry commented on #6
@omarcostahamido Sorry for the late reply. Yes issue #9 was only about us accessing studio devices remotely. Personally I use VNC to access my own rpi under the same local network. I agree to add an entry in the README to instruct users to access rpi remotely over the local network. (Accessing from a different network would be another topic, and most users should be using it in the same local netw

[2022-10-23 23:45] omarcostahamido commented on #11
@SSSSam141 any updates on this?

[2022-10-24 00:17] omarcostahamido opened #21 "Repository folder structure"
There are a lot of files on the top level of this repo. It gets confusing pretty quick. I made a table on the readme that clarifies what is what but on a quick glance it should be easier to understand the structure and what to open. Namely I first propose to move every max abstraction into a subfolder. The easier way to do that and have max still be aware of it, is to make use of max projects. Thi

[2022-10-24 00:20] omarcostahamido opened #22 "Creative Examples"
Following the email sent to the team just now, moving on to the next phase of development could benefit from a couple toy examples that are a little closer to a real-case scenario - that means saying goodbye to our beloved and very relaxing jellyfish video, and welcome some 1920x540 video. Examples shall illustrate the control patches that potential artists might use to have videos playing in sync

[2022-10-24 01:03] omarcostahamido commented on #21
just waiting for someone to approve #23 now lol...

[2022-10-24 02:41] omarcostahamido commented on #22
happy to update this branch as soon as #23 is merged.

[2022-10-24 03:22] omarcostahamido commented on #16
after a little bit of fiddling around I was able to get a buster11 install running and apparently reaching a little further this time around but without complete success.
<img width="668" alt="Screen Shot 2022-10-24 at 3 57 25 AM" src="https://user-images.githubusercontent.com/18335360/197440033-30d55658-1997-4dcb-8b4c-984e406b47b9.png">

(though less than desirable, It is not absolutely essential

[2022-10-24 23:47] SSSSam141 commented on #11
@omarcostahamido The new media player: OMXPlayer does not have this issue. I think we can close this issue.

[2022-10-25 00:06] omarcostahamido commented on #11
Then I suggest closing this issue with the PR that makes that transition too! #19

[2022-10-25 19:17] KaneBetter commented on #18
Yes, the initial thought is that the Control PC will run this script and the new code can be deployed on each RPI listed on the `max-init.txt`.
Regarding checking the versions, although there are many ways to do that, in our case, I don't think it will be a good idea.
Because this kind of update must be done periodically, and here we want the immediate effect.
And we definitely need to explain how

[2022-10-25 19:27] KaneBetter commented on #16
Yeah, it is definitely going further. I look up those packages, and I found [this](https://github.com/RetroPie/RetroPie-Setup/issues/2509).
These packages are used for building the binary and these packages can't be found on every platform RPI support, see [here](https://github.com/RetroPie/RetroPie-Setup/issues/2508).
So the reason why I didn't come across this is that we burn our image through R

[2022-10-25 19:44] #11 closed, assigned to SSSSam141

[2022-10-25 19:44] #16 closed, assigned to KaneBetter

[2022-10-25 20:03] omarcostahamido commented on #18
thx. LGTM

[2022-10-25 20:11] omarcostahamido commented on #16
@KaneBetter do you reckon a new issue should be open right away to `Improve the build omxplayer shell script` then?
For example, one thing I remember is that it would be nice for the shell script to start by deleting the folder automatically before it attempts to build omxplayer again (and fails when it encounters the existing folder)

[2022-10-25 20:32] #21 closed, assigned to omarcostahamido

[2022-10-25 20:34] omarcostahamido commented on #6
(this is the last issue to fix in order to complete [milestone 1](https://github.com/omarcostahamido/PVM/milestone/3))

[2022-10-25 20:44] omarcostahamido commented on #22
just waiting for someone to approve the PR now 😎

[2022-10-25 23:11] #22 closed, assigned to omarcostahamido

[2022-10-25 23:19] omarcostahamido commented on #5
@SSSSam141 I know you focused on the `buffer deadlock` issue, which could be the reason for things going out of sync. In any case, I would like to ask you to confirm that synced videos is really no longer an issue and that omxplayer has solved it all. Best way to confirm that could be with the newly added [examples](https://github.com/omarcostahamido/PVM/tree/main/examples), I would suggest 😉
If a

[2022-10-27 18:37] KaneBetter commented on #20
For the first TODO, I think if the video is in the folder /Video/ will be nice.
Second TODO, If I were to implement it, I would use a different strategy for different file sizes, using Git repo for small files and a direct SD card copy for large files.

[2022-10-30 09:35] rustberry commented on #6
Added instructions on connecting remotely to Raspberry Pis on our [wiki](https://github.com/omarcostahamido/PVM/wiki/How-to-connect-to-a-Raspberry-Pi-remotely) page. PR #27 updates README file to inform the user of our wiki page.

@omarcostahamido

[2022-10-30 09:42] rustberry commented on #6
What do you all think of the idea of adding instructions to the wiki page 🤔? We could always fall back to adding them to the README, because they're all markdowns.

[2022-10-30 12:25] omarcostahamido commented on #6
Hi @rustberry
I'll give you to the power to decide if the repo should use wiki or not.
I just ask that, whatever you decide, to make it consistent.

I like wikis when there is in fact just a lot of very extended documentation. Sort of a reference book. And not necessarily that a quick start guide would live in it. Reasons for not using the wiki include the fact that the updates are not tracked as

[2022-10-30 19:46] #18 closed, assigned to nobody

[2022-10-30 19:46] #20 closed, assigned to nobody

[2022-10-30 19:50] KaneBetter opened #28 "Implememting new logging system"
- Create a consistent logging format
- Save logs into the file
- Increase overall debuggability for the system
- Update README.md on how to look up the log and debug

Create a branch named [AddLoggingSystem](https://github.com/omarcostahamido/PVM/tree/AddLoggingSystem)

[2022-10-30 21:35] rustberry commented on #6
Sorry forgot to mention, you could see the history of a wiki page:

![image](https://user-images.githubusercontent.com/34592958/198902405-f6c67e1f-9887-405f-a32f-f4736c3e087d.png)
---
![image](https://user-images.githubusercontent.com/34592958/198902418-8d6bb3b3-6e91-4b39-9ef9-42e4a0ccf925.png)

But it's indeed not as well-tracked as regular commits.

Very good catch, I didn't think about it. But

[2022-10-30 22:53] omarcostahamido commented on #6
@rustberry Ok, thx.
Again, I'll let you decide and lead that transition process.
Please make sure it will be consistent. Thank you.

[2022-10-30 23:12] #6 closed, assigned to nobody

[2022-10-31 20:42] #28 closed, assigned to nobody

[2022-10-31 20:50] KaneBetter opened #30 "Two videos control python script"
- Play two different videos on two displays.
- Control two videos at the same time.
- Update README.md about how to set two videos.

For now, let's split the python file into two and consider whether to merge them later.
Created branch called [TwoVideosControl](https://github.com/omarcostahamido/PVM/tree/TwoVideosControl)

[2022-10-31 21:14] omarcostahamido commented on #30
alright, let's go! I'm excited 😄

[2022-10-31 21:16] KaneBetter commented on #5
Find some projects for sync omxplayer.
https://github.com/turingmachine/omxplayer-sync
https://github.com/bmoren/node-omxplayer-sync

[2022-10-31 21:19] omarcostahamido commented on #5
woah, thank you for finding those @KaneBetter !
I'm boosting this issue to `HIGH`. I'd love to see this being closed next, before the dual screen issue which will bring added complexity here.
take it away!

[2022-11-01 23:17] KaneBetter commented on #5
We still need to reproduce this issue first. Maybe this issue doesn't exist in OMXPlayer.
If this issue does exist, we have two options to choose from.
One is to send a timestamp with the start function.
Two is to let each Raspberry Pi talk to the other.

[2022-11-02 04:09] SSSSam141 opened #32 "RESET & PLAY logic rewrite."
The current RESET function has some logic problems: when click twice reset button, the video will start to play.
The current PLAY function has some logic problems: when click multiple times when video is playing, the video will crash.
Bugs need to be fixed

[2022-11-02 17:54] KaneBetter commented on #30
Making the pull request #31 into a draft.
We plan to use another approach to realize two video control.

[2022-11-02 18:31] SSSSam141 commented on #32
Done

[2022-11-03 22:51] KaneBetter opened #35 "Timestamp for Max8"
We test two RPIs in the classroom.
Found out that Max8 command for each rpi is not at the same time.
There is a 0.5s delay between two rpis.

We want Max8 can send out commands like this: start 18:00:00(current time).
You can see the video in slack https://swe276pcapsto-5ba9154.slack.com/files/U043JMJPPQE/F0490JZ97GF/img_0585.mov

[2022-11-03 23:50] KaneBetter commented on #5
It seems omxplayer and python processes themselves run smoothly in each RPI. The average time for the system to execute the command is 70ms.
We also observed this issue #35  in our tests. So we think bringing this #35  up is an excellent solution.

[2022-11-05 22:00] KaneBetter commented on #35
We have confirmed that MAX does run pvm_send at the same time.
<img width="868" alt="image" src="https://user-images.githubusercontent.com/37838032/200143520-0dac5142-8137-4cce-af52-f4cc6d08c05d.png">

So the cause of the delay must be inside the UDP send process.

[2022-11-05 22:25] KaneBetter commented on #35
With this new pvm_send, our solution will become very simple, send the current time by UDP, then all RPI receive the time and postpone the operation backward for 3s to solve the synchronization problem perfectly.

[2022-11-05 22:33] KaneBetter commented on #35
Pushed branch https://github.com/omarcostahamido/PVM/tree/AddTimeInUDP
and rewrite the python script to parse the time.

[2022-11-05 22:46] KaneBetter opened #39 "Script to sync time in multiple Raspberry Pis"
Here are some possible solutions:

- https://stackoverflow.com/questions/59159209/how-to-run-a-python-script-on-multiple-raspberry-pi-3-simultaneously
- https://forums.raspberrypi.com/viewtopic.php?t=194468

Resource:

- [NTP](https://en.wikipedia.org/wiki/Network_Time_Protocol)

[2022-11-10 18:04] KaneBetter opened #40 "Autostart failed because of log file path"
Autostart failed because the process can't find `/home/pi/log/{date}.log` file.

[2022-11-10 20:37] KaneBetter opened #42 "2 monitors are not synchronized"
When we test two videos' python script, we found out that r=press start once and then pause and then press start again has a certain chance of causing the two monitors to be out of sync.

TODO: Reproduce the bug first, then determine why the bug occurred

[2022-11-10 21:25] SSSSam141 commented on #42
The 2 media.position functions are totally 0.03s ~ 0.04s, at most time the offset of the 2 videos are under this range and we can consider them synchronized while as the video continue to loop, the offset of them becomes larger. I will investigate more into this problem and try to find out what is the cause of this problem.

[2022-11-10 23:42] xrk-git opened #43 "Frame setting feature implementation"
Acquire the playing video's frame rate and set the Omxplayer exhibition frame rate.

[2022-11-11 10:50] SSSSam141 commented on #42
After checking the source code of set_position() function, it is "Set the video to playback position to `position` seconds from the start of the video", which should set to the past time not the future time. Then I change the logic for media 1 and media 2, only set the media which is playing relatively faster back to the position where media is playing relatively slower. Then now the 2 videos are

[2022-11-12 18:40] omarcostahamido commented on #32
?

[2022-11-12 19:08] omarcostahamido commented on #35
Oh no...

So the cause of the delay must be inside the UDP send process.

Creating a new UDP object would be quite the achievement, not impossible though. I've done one [here](https://github.com/omarcostahamido/One-Quick-Solution/tree/master/MaxMsp/och.udp). Never tested against the default one in max for performance though. I built it in order to easily receive the IP+port of the sender in the re

[2022-11-12 19:49] omarcostahamido commented on #39
ooo, I like where this is going 😄
please see also what I wrote [here](https://github.com/omarcostahamido/PVM/issues/35#issuecomment-1312552703).

[2022-11-12 20:23] omarcostahamido commented on #43
@xrk-git where/how did you complete/fix this?
could you please use the keywords `this fixes #43` on the PR that fixes this before merge? That way it will create a link here and close this with that PR. This saves you time to manually close an issue, AND creates a link that makes it easier to go back and understand where exactly were the changes that fixed it. (you can still go there and write `thi

[2022-11-12 20:31] omarcostahamido commented on #42
🐢 🐇

@SSSSam141
where exactly did you do that? the PR still doesn't seem to be linked here.

[2022-11-12 21:08] #39 closed, assigned to nobody

[2022-11-12 21:18] #40 closed, assigned to nobody

[2022-11-13 05:57] rustberry opened #45 "An alternative way to get PVM working directory"
https://github.com/omarcostahamido/PVM/blob/ef4cff7ecba3fe27613c1742c74051db0de88c47/pvm.py#L34

Currently, we're hard coding it, but we could use the $HOME variable to resolve the path dynamically.

[2022-11-13 13:33] omarcostahamido commented on #45
this refers to #8

@rustberry do you want to do a thorough review of this and use your PR to
`this fixes #45`
`this fixes #8`
if you know what I mean?

[2022-11-15 00:53] xrk-git commented on #43
This fixes #47

[2022-11-15 15:29] omarcostahamido commented on #43
@xrk-git the PR fixes the issue, not the other way around.
I'm going to edit the OP on #47 for you to include those words and you'll see the difference 😉

[2022-11-17 02:07] #43 closed, assigned to nobody

[2022-11-17 17:33] #35 closed, assigned to KaneBetter

[2022-11-17 17:44] KaneBetter commented on #5
#38 fixes this.

[2022-11-17 17:45] #5 closed, assigned to KaneBetter

[2022-11-17 17:48] KaneBetter opened #49 "Use case clarify for two video"
We should clarify our two video control use cases first and then write example UDP commands here.
At the same time, #31  will change according to this issue.

[2022-11-17 18:01] KaneBetter commented on #49
If you have 2 displays connected.
[code]

[2022-11-17 18:03] KaneBetter commented on #49
[code]

[2022-11-17 18:05] KaneBetter commented on #49
Chose log ouput for

- rate 2
- rate 2|
- file 1.mp4
- file 1.mp4|

[2022-11-17 18:20] KaneBetter commented on #49
@omarcostahamido Could you take a look at the command above?

[2022-11-17 19:40] omarcostahamido commented on #49
Hi. So my first question would be: can we detect if there is only 1 screen connected or 2?
It is not worth it to launch 2 video windows if the device only has 1 display connected.

If the device has 2 displays connected I don't see any advantage in not sending any video through both displays.
In this case, it would be easy to say that if the user is only sending control information for 1 display t

[2022-11-17 19:49] omarcostahamido commented on #49
If the device has 2 displays connected I don't see any advantage in not sending any video through both displays._

Question: does omxplayer launches a black window if it is executed without a file defined? My guess it that it won't launch any window since it won't even know what size to give that window in the absence of any media.

This will also make much more easier to use if the user just want

[2022-11-17 21:28] #8 closed, assigned to rustberry

[2022-11-17 21:28] #45 closed, assigned to nobody

[2022-11-17 21:49] KaneBetter commented on #49
Raspberry pi can't know how many displays it is connected to.

[2022-11-17 21:51] KaneBetter commented on #49
That's achievable, let me update our use case to include that.

[2022-11-17 21:53] KaneBetter commented on #49
agreed, let me include this also.

[2022-11-17 22:11] omarcostahamido commented on #49
Commeting the updates to OP: user may send integer but RPI will see it as floats, like 1.0|2.0.
Right?

Also, all this discussion needs to be well articulated in the readme documentation.

Let me know when (and on which branch) do you want to try creating a new example Max patch to test this. I can easily help with that.

Thanks

[2022-11-18 19:20] KaneBetter commented on #49
We have updated our python logic in the branch TwoVideoControl. @omarcostahamido Could you please add or change the maxpat file in that branch according to the use case we discussed.

[2022-11-18 22:05] KaneBetter commented on #32
No longer needed.

[2022-11-18 22:05] #32 closed, assigned to SSSSam141

[2022-11-19 00:15] omarcostahamido commented on #32
@KaneBetter it got fixed? Do you know how/why?

[2022-11-19 02:10] omarcostahamido commented on #49
DONE https://github.com/omarcostahamido/PVM/pull/31/commits/4d2925cf66d0eb3868c860091b689332b5a9c65c Good luck on finalizing `pvm.py`. I made a thorough review of that and noticed a lot of things... 28 review notes. I am still waiting to hear about how it actually feels when working with any of the examples.
And, of course, I'm very much looking forward to see a [release](https://github.com/omarco

[2022-11-20 19:50] KaneBetter opened #51 "Two different PORT approach"
#50
The main idea is to give pvm.py a port args(which is already there).
So in the `etc/xdg/lxsession/LXDE-pi/autostart`
[code]
Ang in the `max-init.txt` will be
[code]
And if we run pvm.py without port arg the default port is 8001.

[2022-11-20 20:33] omarcostahamido commented on #51
definitely a possibility. The question that remains is: will it work well on the RPI to have 2 `pvm.py` running at the same time? Will the 2 OSC servers compete with each other and add more latency to the reception of commands?...

[2022-11-21 04:48] #51 closed, assigned to nobody

[2022-11-21 04:49] KaneBetter commented on #49
No longer needed.

[2022-11-21 04:49] #49 closed, assigned to nobody

[2022-11-21 04:50] KaneBetter commented on #42
This is not the case with the latest version.

[2022-11-21 04:50] #42 closed, assigned to SSSSam141

[2022-11-21 04:50] KaneBetter commented on #30
This is not the case with the latest version.

[2022-11-21 04:50] #30 closed, assigned to nobody

[2022-11-21 12:23] omarcostahamido commented on #42
good to hear!

[2022-11-21 12:27] omarcostahamido commented on #3
@KaneBetter can we set the position in frames, besides seconds?

[2022-11-21 18:04] KaneBetter commented on #3
Yes, `set_position` can accept float, e.g 0.033. This means if you want to set the video to frame 1, you need to calculate the time(0.033) based on the fps(30fps), which is not very convenient.
So, I create this https://github.com/omarcostahamido/PVM/pull/52/commits/c33320dcb17012f752c1e017736da74e9aed998d to add set_frame UDP command prase logic. But the MAX part is unchanged.

[2022-11-21 18:07] KaneBetter commented on #3
For point 3, we need to add a button called relative_set_position(0.0-1.0)
See here, https://github.com/omarcostahamido/PVM/pull/52/commits/160cb4109a67336e424a6d4f8040cdb159c92905

[2022-11-21 18:25] KaneBetter commented on #3
Yeah, it depends on what is the rest of the message.

[2022-11-24 13:52] omarcostahamido commented on #3
But it needs to be changed, right? You need help with that?

`set_relative_position`?

[2022-11-24 14:12] omarcostahamido commented on #3
as I've proposed on #53 can we please use `set_position` for the relative position (0.-1.), and then `set_sposition` and `set_fposition` for setting in absolute seconds and frames?

[2022-11-27 04:11] KaneBetter commented on #3
Done in https://github.com/omarcostahamido/PVM/pull/52/commits/697d8193fb0a4db023da9a62a623faef1d99ef81

[2022-11-27 18:14] omarcostahamido opened #54 "creative example 3 has wrong `set_position` value"
it should be `0.5` not `5.`

[2022-11-27 18:40] #3 closed, assigned to nobody

[2022-11-27 18:43] omarcostahamido opened #55 "`omx_player` specific version reference"
@KaneBetter can you make a release on your https://github.com/KaneBetter/omxplayer repo that we can refer to as the specific version that is compatible with PVM?
Something to consider as an alternative would be to create a git submodule.
Thoughts?

[2022-11-27 18:46] omarcostahamido opened #56 "Add creative example 6"
Discussed with @gggfffsss today.
I will be adding a more complex example to the list that makes use of 6 devices, 12 screens, in offset, with variable speed.

[2022-11-27 18:52] KaneBetter commented on #54
Can you explain more about this issue, I don't quite understand it.

[2022-11-27 18:53] KaneBetter commented on #55
Sure, will do.

[2022-11-27 18:58] KaneBetter commented on #55
https://github.com/KaneBetter/omxplayer/releases/tag/v1.0.0

[2022-11-27 19:11] omarcostahamido commented on #54
If you open example 3 max patch and the coll object inside it, you will see.

[2022-11-27 19:40] omarcostahamido commented on #55
thank you!
maybe this could be added to the readme and make that PR resolve this issue?
edit: the readme does need some thorough revision, I am making that a parent issue to this one.

[2022-11-27 20:02] omarcostahamido opened #57 "Readme updates"
The readme needs a thorough revision including:

- [x] #55
- [x] remove https://github.com/omarcostahamido/PVM#known-limitations section
- [x] add acknowledgements section
- [x] update https://github.com/omarcostahamido/PVM#structure section
- [x] on the examples section the part that starts with Given the objective of making this project available ... is not from there. maybe we can move this exp

[2022-11-27 21:28] KaneBetter commented on #57
I will create a branch called [UpdateREADME](https://github.com/omarcostahamido/PVM/tree/UpdateREADME) to solve 2-5 checklists.

[2022-11-27 21:31] KaneBetter commented on #57
Mark this resolved with https://github.com/omarcostahamido/PVM/commit/4af76d636948115875cf04485b4e1d23b5d5cc3b

[2022-11-27 22:08] omarcostahamido commented on #57
@KaneBetter thx.
I can help with the acknowledgements section once you get things rolling. Just ping me when I can add to it.

[2022-11-27 22:44] #55 closed, assigned to KaneBetter

[2022-11-27 22:54] KaneBetter opened #61 "None"

[2022-11-27 22:54] #61 closed, assigned to nobody

[2022-11-27 22:56] KaneBetter commented on #57
Mark this resolved,
see commit: https://github.com/omarcostahamido/PVM/commit/3cb7f72cf9ca4c46accb7b6c9b39e146cda40687
see wiki: https://github.com/omarcostahamido/PVM/wiki

[2022-11-27 23:01] KaneBetter commented on #57
Mark this resolve, see commit https://github.com/omarcostahamido/PVM/commit/3a5f9e4ea1aeb1a75a3aa6aedeb3325ee0b8197c.

[2022-11-27 23:27] KaneBetter commented on #57
Mark this resolve, see here https://github.com/omarcostahamido/PVM/tree/UpdateREADME

[2022-11-27 23:28] KaneBetter commented on #57
@omarcostahamido , yes, please.

[2022-11-28 00:16] #56 closed, assigned to omarcostahamido

[2022-11-28 00:33] #54 closed, assigned to nobody

[2022-11-28 00:52] omarcostahamido commented on #61
yes, I should have made shorter titles.
and yes, maybe they are too simple to require individual issues to be opened for each one.
At least now you know how that works!

[2022-11-28 01:15] KaneBetter commented on #57
Move this section into wiki
https://github.com/omarcostahamido/PVM/commit/1aef34a4e8112fc97837ebb51a7476d45709423d

[2022-11-28 01:19] omarcostahamido commented on #57
DONE in https://github.com/omarcostahamido/PVM/commit/2ffb00953bfe7d302cb901a469409c68e982d5f1

[2022-11-28 01:19] KaneBetter commented on #57
Mark resolve.
https://github.com/omarcostahamido/PVM/commit/8bc181e621bc4a0df96b795bfc7d0f2f372b730e

[2022-11-28 01:29] KaneBetter commented on #57
Done here. https://github.com/omarcostahamido/PVM/commit/39ce0759537e8ef56789babdb1fdc450eedc748a

[2022-11-28 01:36] omarcostahamido commented on #57
You just moved the entire section there and I was suggesting only after `the part that starts with Given the objective of making this project available ... `. That is because that whole section somehow has text regarding 2 different things: the examples, and the control patch.

I like that you added images but it is confusing right now. the first image about the list of examples that `appear liste

[2022-11-28 01:55] omarcostahamido commented on #57
@KaneBetter thank you for being pro-active in getting these done.
I left some comments [on the PR](https://github.com/omarcostahamido/PVM/pull/62#pullrequestreview-1195106116). Let's try to mature the readme some more before merging the updates. Multiple careful read-throughs are a nice thing to do.

[2022-11-28 03:01] KaneBetter commented on #57
I would love to help, @omarcostahamido . Since our Final Demo for the class is on December 2nd, which is also the time of hard code freeze, we still need to prepare for the public roadshow on December 6th.

[2022-11-28 13:44] omarcostahamido opened #63 "update `python pvm.py --help`"
at least it requires a clarification on the special meaning of port 8001, vs any other.

Will also need to be updated on the readme.

[2022-11-28 16:39] omarcostahamido commented on #57
I've made several commits there, but some work is still needed.
I've reorganized the sections/subsections so, very careful attention will be needed when merging this.
Also worked a bit on the wiki pages, but they also deserve a review and the still missing information.

@KaneBetter good luck on your Final Demo class and public roadshow!

[2022-11-28 19:33] #63 closed, assigned to KaneBetter

[2022-11-30 00:46] KaneBetter commented on #57
Mark this done.
https://github.com/omarcostahamido/PVM/commit/11c302a67f926a66678999b06b434fad6e998f0f

[2022-11-30 00:49] KaneBetter commented on #57
Done.
https://github.com/omarcostahamido/PVM/commit/37067977ac4f9e9db6dbfe42536e2e750cbf67f1

[2022-11-30 01:01] KaneBetter commented on #57
Mark this done.
https://github.com/omarcostahamido/PVM/wiki/The-Control-Interface-in-MAX
https://github.com/omarcostahamido/PVM/wiki/Examples

[2022-11-30 14:53] omarcostahamido commented on #57
Thanks for the updates on `The Control Interface in MAX`.
For the `Examples` page I was thinking more of a walkthrough using the patches, what each part/object does there. Similar to that text that I've written for `pvm/maxpat`.